extends loyout
block content
  h2 Додати доходи
  form.profit-table(action='/profit-table' method="POST")
    p
      input(name="income" placeholder= "введіть дохід" value = "")
    p
      input(name="sum" placeholder="сума доходу" value = "")
    button ЗБЕРЕГТИ
